@import "./../../Shared.scss";

.news-container {
  @include container;
  margin-block: clamp(4rem, 5%, 5%);

  .news-header-container {
    @include flex-between;
    padding-bottom: 1%;
    h1 {
      font-size: clamp(1.75rem, 1.75vw, 1.75vw);
      opacity: 0.8;
    }
    h2 {
      font-size: clamp(1rem, 1.25vw, 1.25vw);
      opacity: 0.6;
    }
  }

  .articles-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 0.5rem;

    .article-container {
      background-repeat: no-repeat;
      background-size: cover;
      color: white;
      display: flex;
      align-items: flex-end;
      padding-top: 35%;

      p {
        width: 90%;
        font-size: clamp(1rem, 1vw, 1vw);
        font-weight: bold;
        display: flex;
        margin: 0 auto;
        padding-bottom: 2%;
      }
    }
    .grid-row-span-2 {
      grid-row: span 2;
      p {
        font-size: clamp(1rem, 1.75vw, 1.75vw);
      }
    }
  }
}

//===========================================================
// Media Queries
//===========================================================

@media only screen and (max-width: 900px) {
  .articles-container {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media only screen and (max-width: 650px) {
  .articles-container {
    grid-template-columns: 1fr !important;
    gap: 1rem !important;
  }
}
