@import "./../../Shared.scss";

.news-container {
  @include container;
  margin-block: clamp(4rem, 5%, 5%);

  .articles-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 0.5rem;

    .article-container {
      background-repeat: no-repeat;
      background-size: cover;
      color: white;
      display: flex;
      align-items: flex-end;
      height: 25vh;
      background-position: center;
      object-fit: cover;

      p {
        width: 90%;
        font-size: clamp(1rem, 1vw, 1vw);
        font-weight: bold;
        display: flex;
        margin: 0 auto;
        padding-bottom: 2%;
      }
    }
    .grid-row-span-2 {
      grid-row: span 2;
      height: 51vh;
      p {
        font-size: clamp(1rem, 1.75vw, 1.75vw);
      }
    }
  }
}

//===========================================================
// Media Queries
//===========================================================

@media only screen and (max-width: 900px) {
  .articles-container {
    grid-template-columns: 1fr 1fr !important;
  }
}

@media only screen and (max-width: 650px) {
  .articles-container {
    grid-template-columns: 1fr !important;
    gap: 1rem !important;

    .article-container {
      padding-top: 15rem;
      height: 100%;
    }
    .grid-row-span-2 {
      height: 100%;
    }
  }
}
