@import "./../Shared.scss";

.header {
  background-color: $background-color1;
  color: $font-color1;
  width: 100%;
  z-index: 100;
  position: relative;

  .header-container {
    @include container;

    .header-top,
    .header-bottom {
      @include flex-between;
    }
  }
}
//**********************************************************
//Header Top
//**********************************************************
//===========================================================
// Logo
//===========================================================

.logo {
  border-right: solid 0.1rem rgba(255, 255, 255, 0.8);
  display: flex;
  padding-right: 2%;
  padding-block: 0.7%;

  div {
    background-color: $font-color1;
    color: $background-color1;
    width: clamp(20px, 1.75vw, 1.75vw);
    display: flex;
    justify-content: center;
  }

  .space-right {
    margin-right: 5%;
  }

  p {
    font-size: clamp(14px, 1vw, 1vw);
    font-weight: 900;
  }
}

//===========================================================
// Styles for the top nav links
//===========================================================

.tag-container,
.more-container {
  border-bottom: 0.5vh solid transparent;
  border-right: solid 0.1rem rgba(255, 255, 255, 0.8);
  cursor: pointer;
  font-size: clamp(0.8rem, 0.85vw, 0.85vw);
  font-weight: bolder;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-block: 0.75%;
}
.more-container {
  width: 130%;

  &:hover {
    border-bottom-color: white;
  }
  p {
    padding-right: 15%;
  }
}

//===========================================================
// Adds colors to bottom borders of top nav links
//===========================================================

.h-red {
  &:hover {
    border-bottom-color: red;
  }
}
.h-orange {
  &:hover {
    border-bottom-color: orange;
  }
}
.h-yellow {
  &:hover {
    border-bottom-color: yellow;
  }
}
.h-green {
  &:hover {
    border-bottom-color: green;
  }
}
.h-blue {
  &:hover {
    border-bottom-color: blue;
  }
}
.h-purple {
  &:hover {
    border-bottom-color: purple;
  }
}

//===========================================================
// Search Bar
//===========================================================

.search-container {
  position: relative;
  display: flex;
  padding-left: 2%;

  .search {
    form {
      input {
        border-radius: 2px;
        font-size: clamp(0.75rem, 0.75vw, 0.75vw);
        font-weight: bold;
        padding: 2.5% 3%;
        outline: none;
        border: none;
      }
    }
  }
  .search-icon {
    position: absolute;
    color: black;
    margin: 2.5% 0 0 80%;
  }
}
//**********************************************************
//Header Bottom
//**********************************************************
.header-bottom {
  background-color: white;
  border-block: 1px solid black;
  color: black;
  width: 100%;
  padding-block: 0.4%;
  transition: 2s;
  position: relative;

  .header-bottom-container {
    @include container;
    @include flex-between;

    .bottom-header-more {
      font-size: 1.75rem;
      font-size: clamp(1.75rem, 1.8vw, 1.8vw);
      font-weight: 600;
      width: 80%;
    }
    .bottom-headerTag-container {
      width: 100%;

      .bottom-header-tags {
        font-size: 0.9rem;
        font-size: clamp(0.9rem, 0.95vw, 0.95vw);
        font-weight: bolder;
        width: 60%;
        padding: 0.25rem 0.5rem;
        cursor: pointer;

        &:hover {
          background-color: rgba(0, 0, 0, 0.8);
          color: white;
        }
      }
    }
  }
}
.hidden-bottom-header {
  margin-top: -10%;
  transition: 2s;
}
.bottom-expand {
  display: none;
}
//===========================================================
// Media Queries
//===========================================================

@media only screen and (max-width: 1120px) {
  //========================================
  //Top Header
  //========================================
  .header-container {
    width: 95% !important;
  }
  .hidden {
    display: none;
  }
  .search-icon {
    color: white !important;
    margin: 0 0 0 0.5rem !important;
    position: relative !important;
  }
  //========================================
  //Bottom Header
  //========================================
  .bottom-expand {
    display: block;
  }
  .header-bottom-container {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
