@import "./../../Shared.scss";

.weather {
  padding-bottom: clamp(4rem, 5%, 5%);
  @include container;
  h1 {
    font-size: clamp(1rem, 1.3vw, 1.3vw);
    opacity: 0.8;
    text-transform: uppercase;
  }

  .main-weather-container {
    display: flex;
    padding-top: 1rem;
    .weather-container {
      display: flex;
      align-items: center;
      padding-right: 0.5rem;
      .weather-left {
        padding-right: 0.5rem;
        img {
          width: clamp(3rem, 4.75vw, 4.75vw);
        }
      }
      .weather-right {
        .weather-data-top {
          font-size: 12px;
          font-size: clamp(0.5rem, 0.85vw, 0.85vw);
          font-weight: bold;
        }
        .weather-data-middle {
          font-size: clamp(0.5rem, 1.2vw, 2.85vw);
          font-weight: bold;
        }
        .weather-data-bottom {
          font-size: clamp(0.5rem, 0.85vw, 0.85vw);
        }
      }
    }
  }
}

//===========================================================
// Media Queries
//===========================================================
@media only screen and (max-width: 600px) {
  .weather-container-hidden {
    display: none !important;
  }
}
